{% extends 'base.html.twig' %}


{% block body %}
    <h2>Decline job</h2>

    {{ form_start(declineform) }}
    {{ form_widget(declineform) }}
    {{ form_end(declineform) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}
